# Imagem
IMAGE_NAME=${IMAGE}

# Dados de acesso ao banco de dados
MYSQL_ROOT_PASSWORD=
MYSQL_HOST=db_sig
MYSQL_DATABASE=
MYSQL_USER=
MYSQL_PASSWORD=
MYSQL_PORT=

# Dados para a aplicação
PAGE_TITLE=
REPORT_TOP=
SGI_BRAND=

# Portas expostas
PORT_MAPPING=
